body {
    display: flex;
    margin: 5px;
    margin-top: 32px;

    background-color: #eee;
}

.gallery {
  /*background-color: red;*/
  max-width: 700px;
  min-width: 700px;
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: center;
  padding: 0 4px;
}

.gallery img {
  margin: 3px;
  cursor: pointer;
}

.prev,
.next {
  position: absolute;
  height: 32px;
  margin-top: -66px;
  top: 50%;
  cursor: pointer;
  filter: drop-shadow( 0px 0px 3px rgba(0, 0, 0, .7));
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

